version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env

  worker:
    build:
      context: .
      dockerfile: worker.Dockerfile
    env_file:
      - .env
    depends_on:
      - mongo
      - redis


volumes:
  mongo-data: